*.rsls
cmake-build-debug
.idea
/cmake-build-debug-visual-studio/
/cmake-build-debug/
/.PVS-Studio/
/cmake-build-debug-mingw/
/cmake-build-release-visual-studio/

.idea/codeStyles/Project.xml
tests/cmake-build-release-visual-studio/tests.exe.manifest
tests/cmake-build-release-visual-studio/tests.exe
tests/cmake-build-release-visual-studio/tests.cbp
tests/cmake-build-release-visual-studio/target.err
tests/cmake-build-release-visual-studio/PVS-Studio/test2.cpp.plog
tests/cmake-build-release-visual-studio/PVS-Studio/test.cpp.plog
tests/cmake-build-release-visual-studio/Project.cbp
tests/cmake-build-release-visual-studio/Makefile.tmp53917
tests/cmake-build-release-visual-studio/Makefile
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/progress.make
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/objects1.rsp
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/flags.make
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/DependInfo.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/depend.make
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/cmake_clean.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/tests.dir/build.make
tests/cmake-build-release-visual-studio/CMakeFiles/TargetDirectories.txt
tests/cmake-build-release-visual-studio/CMakeFiles/progress.marks
tests/cmake-build-release-visual-studio/CMakeFiles/Makefile2
tests/cmake-build-release-visual-studio/CMakeFiles/Makefile.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/CMakeOutput.log
tests/cmake-build-release-visual-studio/CMakeFiles/CMakeDirectoryInformation.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/cmake.check_cache
tests/cmake-build-release-visual-studio/CMakeFiles/clion-log.txt
tests/cmake-build-release-visual-studio/CMakeFiles/clion-environment.txt
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.obj
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.exe
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CMakeSystem.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
tests/cmake-build-release-visual-studio/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
tests/cmake-build-release-visual-studio/CMakeCache.txt.tmpaf7a2
tests/cmake-build-release-visual-studio/CMakeCache.txt.tmpace26
tests/cmake-build-release-visual-studio/CMakeCache.txt
tests/cmake-build-release-visual-studio/cmake_install.cmake
tests/cmake-build-debug-visual-studio/tests.pdb
tests/cmake-build-debug-visual-studio/tests.ilk
tests/cmake-build-debug-visual-studio/tests.exe
tests/cmake-build-debug-visual-studio/tests.cbp
tests/cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
tests/cmake-build-debug-visual-studio/Project.cbp
tests/cmake-build-debug-visual-studio/Makefile
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/progress.make
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/objects1.rsp
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/flags.make
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/DependInfo.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/depend.make
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/cmake_clean.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/tests.dir/build.make
tests/cmake-build-debug-visual-studio/CMakeFiles/TargetDirectories.txt
tests/cmake-build-debug-visual-studio/CMakeFiles/progress.marks
tests/cmake-build-debug-visual-studio/CMakeFiles/Makefile2
tests/cmake-build-debug-visual-studio/CMakeFiles/Makefile.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/CMakeOutput.log
tests/cmake-build-debug-visual-studio/CMakeFiles/CMakeDirectoryInformation.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/cmake.check_cache
tests/cmake-build-debug-visual-studio/CMakeFiles/clion-log.txt
tests/cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.obj
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.exe
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CMakeSystem.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
tests/cmake-build-debug-visual-studio/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
tests/cmake-build-debug-visual-studio/CMakeCache.txt
tests/cmake-build-debug-visual-studio/cmake_install.cmake
tests/cmake-build-debug-mingw/tests.exe
tests/cmake-build-debug-mingw/tests.cbp
tests/cmake-build-debug-mingw/Testing/Temporary/LastTest.log
tests/cmake-build-debug-mingw/target.err
tests/cmake-build-debug-mingw/Makefile
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/test2.cpp.obj
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/test.cpp.obj
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/progress.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/objects1.rsp
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/objects.a
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/linklibs.rsp
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/link.txt
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/flags.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/DependInfo.cmake
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/depend.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/depend.internal
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/CXX.includecache
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/cmake_clean.cmake
tests/cmake-build-debug-mingw/CMakeFiles/tests.dir/build.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/progress.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/DependInfo.cmake
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/depend.make
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/depend.internal
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/CXX.includecache
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/cmake_clean.cmake
tests/cmake-build-debug-mingw/CMakeFiles/tests.analyze.dir/build.make
tests/cmake-build-debug-mingw/CMakeFiles/TargetDirectories.txt
tests/cmake-build-debug-mingw/CMakeFiles/progress.marks
tests/cmake-build-debug-mingw/CMakeFiles/Makefile2
tests/cmake-build-debug-mingw/CMakeFiles/Makefile.cmake
tests/cmake-build-debug-mingw/CMakeFiles/example1.analyze.dir/progress.make
tests/cmake-build-debug-mingw/CMakeFiles/example1.analyze.dir/DependInfo.cmake
tests/cmake-build-debug-mingw/CMakeFiles/example1.analyze.dir/cmake_clean.cmake
tests/cmake-build-debug-mingw/CMakeFiles/example1.analyze.dir/build.make
tests/cmake-build-debug-mingw/CMakeFiles/CMakeRuleHashes.txt
tests/cmake-build-debug-mingw/CMakeFiles/CMakeOutput.log
tests/cmake-build-debug-mingw/CMakeFiles/CMakeDirectoryInformation.cmake
tests/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
tests/cmake-build-debug-mingw/CMakeFiles/clion-log.txt
tests/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/test2.cpp.obj
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/test.cpp.obj
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/progress.make
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/objects1.rsp
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/linklibs.rsp
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/link.txt
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/flags.make
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/DependInfo.cmake
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/depend.make
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/cmake_clean.cmake
tests/cmake-build-debug-mingw/CMakeFiles/Catch_tests_run.dir/build.make
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CompilerIdC/a.exe
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeSystem.cmake
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
tests/cmake-build-debug-mingw/CMakeFiles/3.19.2/CMakeCCompiler.cmake
tests/cmake-build-debug-mingw/CMakeCache.txt
tests/cmake-build-debug-mingw/cmake_install.cmake
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
